<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @t_webhook.user %>
</p>

<p>
  <strong>Event:</strong>
  <%= @t_webhook.event %>
</p>

<p>
  <strong>Email:</strong>
  <%= @t_webhook.email %>
</p>

<p>
  <strong>Hook:</strong>
  <%= @t_webhook.hook_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @t_webhook.date %>
</p>

<p>
  <strong>Ts:</strong>
  <%= @t_webhook.ts %>
</p>

<p>
  <strong>Message:</strong>
  <%= @t_webhook.message_id %>
</p>

<p>
  <strong>Ts event:</strong>
  <%= @t_webhook.ts_event %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @t_webhook.subject %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @t_webhook.tag %>
</p>

<p>
  <strong>Ts epoch:</strong>
  <%= @t_webhook.ts_epoch %>
</p>

<p>
  <strong>Teplate:</strong>
  <%= @t_webhook.teplate_id %>
</p>

<p>
  <strong>Sendin ip:</strong>
  <%= @t_webhook.sendin_ip %>
</p>

<p>
  <strong>Url:</strong>
  <%= @t_webhook.url %>
</p>

<p>
  <strong>Esp:</strong>
  <%= @t_webhook.esp %>
</p>

<p>
  <strong>Link:</strong>
  <%= @t_webhook.link %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @t_webhook.desc %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @t_webhook.reason %>
</p>

<%= link_to 'Edit', edit_t_webhook_path(@t_webhook) %> |
<%= link_to 'Back', t_webhooks_path %>
