<p id="notice"><%= notice %></p>

<h1>T Webhooks</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Event</th>
      <th>Email</th>
      <th>Hook</th>
      <th>Date</th>
      <th>Ts</th>
      <th>Message</th>
      <th>Ts event</th>
      <th>Subject</th>
      <th>Tag</th>
      <th>Ts epoch</th>
      <th>Teplate</th>
      <th>Sendin ip</th>
      <th>Url</th>
      <th>Esp</th>
      <th>Link</th>
      <th>Desc</th>
      <th>Reason</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @t_webhooks.each do |t_webhook| %>
      <tr>
        <td><%= t_webhook.user %></td>
        <td><%= t_webhook.event %></td>
        <td><%= t_webhook.email %></td>
        <td><%= t_webhook.hook_id %></td>
        <td><%= t_webhook.date %></td>
        <td><%= t_webhook.ts %></td>
        <td><%= t_webhook.message_id %></td>
        <td><%= t_webhook.ts_event %></td>
        <td><%= t_webhook.subject %></td>
        <td><%= t_webhook.tag %></td>
        <td><%= t_webhook.ts_epoch %></td>
        <td><%= t_webhook.teplate_id %></td>
        <td><%= t_webhook.sendin_ip %></td>
        <td><%= t_webhook.url %></td>
        <td><%= t_webhook.esp %></td>
        <td><%= t_webhook.link %></td>
        <td><%= t_webhook.desc %></td>
        <td><%= t_webhook.reason %></td>
        <td><%= link_to 'Show', t_webhook %></td>
        <td><%= link_to 'Edit', edit_t_webhook_path(t_webhook) %></td>
        <td><%= link_to 'Destroy', t_webhook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New T Webhook', new_t_webhook_path %>
