<p id="notice"><%= notice %></p>

<h1>Marketing IP Health</h1>

<table>
  <tr>
    <th><%= button_to 'Unique Open' %></th>
    <th><%= button_to 'Open' %></th>
    <th><%= button_to 'Unique Click' %></th>
    <th><%= button_to 'Click' %></th>
    <th><%= button_to 'Deliv' %></th>
  </tr>
</table>
<table class="minimalistBlack">
  <tr>
    <th>IP:</th>
    <% @m_opened_list_of_ips.each do |ip| %>
    <th colspan="4"><%= ip %></th>
    <% end %>
  </tr>
  <tr>
    <th>Date:</th>
  </tr>

  <tr>
    <% @m_opened.each do |m_opened| %>
    <td> <%= m_opened %> </td>
    <% end %>
  </tr>
</table>
<hr>
<hr>
<hr>
