<p id="notice"><%= notice %></p>
<h1>Marketing IP Health</h1>

<% event_button_array = [["Unique Open", "unique_opened"], ["Opened", "opened"],
  ["Unique Click", "unique_click"], ["Clicked", "clicked"], ["Deliv", "delivered"]] %>

<table>
  <% event_button_array.each do |z| %>
    <th>
      <%= button_to z[0], {:controller => :m_webhooks, :action => 'index'}, :method => :get, :params => {:event => z[1]} %>
    </th>
  <% end %>
</table>

<h2>
  Key &emsp;
  <span class="green_3">&emsp;</span>
  <span class="green_2">&emsp;</span>
  <span class="green_1">&emsp;</span>
  <span class="yellow">&emsp;</span>
  <span class="neutral">&emsp;</span>
  <span class="orange">&emsp;</span>
  <span class="red_1">&emsp;</span>
  <span class="red_2">&emsp;</span>
</h2>


</br>



<% @m_list_of_ips.each do |this_ip| %>
  <table class="minimalistBlack">
    <thead>
      <tr><th colspan="5"><%= this_ip %></th></tr>
      <tr>
        <th>Date</th>
        <% @esp_list.each do |esp| %>
          <th><%= esp.capitalize %></th>
        <% end %>
      </tr>
    </thead>
    <% @date_list.each do |this_date| %>
      <tr>
        <td><%= this_date %></td>
        <% @esp_list.each_with_index do |esp, esp_index| %>
          <% num_sent = @count_array[esp_index][1][[this_date, this_ip]] %>
          <% if num_sent && num_sent > 0 %>
            <% num_focused = @count_array[esp_index][0][[this_date, this_ip]] %>
            <% perc = ((1000 * num_focused.to_f) / num_sent).ceil / 10.0 %>
            <% case params[:event] %>
            <% when 'opened' %>
              <td class="<%= set_cell_color(perc) %>"><%= num_focused %> / <%= num_sent %> = <%= perc %></td>
            <% when 'unique_opened' %>
              <td class="<%= set_cell_color(perc) %>"><%= num_focused %> / <%= num_sent %> = <%= perc %></td>
            <% when 'clicked' %>
              <td class="<%= set_cell_color_click(perc) %>"><%= num_focused %> / <%= num_sent %> = <%= perc %></td>
            <% when 'unique_click' %>
              <td class="<%= set_cell_color_click(perc) %>"><%= num_focused %> / <%= num_sent %> = <%= perc %></td>
              <% when 'delivered' %>
                <td class="<%= set_cell_color_deliv(perc) %>"><%= num_focused %> / <%= num_sent %> = <%= perc %></td>
            <% else %>
              <td class="<%= set_cell_color(perc) %>"><%= num_focused %> / <%= num_sent %> = <%= perc %></td>
            <% end %>
          <% else %>
            <td></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
  </br>
<% end %>
