<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @m_webhook.event %>
</p>

<p>
  <strong>Email:</strong>
  <%= @m_webhook.email %>
</p>

<p>
  <strong>Hook:</strong>
  <%= @m_webhook.hook_id %>
</p>

<p>
  <strong>Camp:</strong>
  <%= @m_webhook.camp_id %>
</p>

<p>
  <strong>Campaign name:</strong>
  <%= @m_webhook.campaign_name %>
</p>

<p>
  <strong>Date sent:</strong>
  <%= @m_webhook.date_sent %>
</p>

<p>
  <strong>Date event:</strong>
  <%= @m_webhook.date_event %>
</p>

<p>
  <strong>Ts event:</strong>
  <%= @m_webhook.ts_event %>
</p>

<p>
  <strong>Ts sent:</strong>
  <%= @m_webhook.ts_sent %>
</p>

<p>
  <strong>Tag:</strong>
  <%= @m_webhook.tag %>
</p>

<p>
  <strong>Url:</strong>
  <%= @m_webhook.url %>
</p>

<p>
  <strong>Sending ip:</strong>
  <%= @m_webhook.sending_ip %>
</p>

<p>
  <strong>Esp:</strong>
  <%= @m_webhook.esp %>
</p>

<p>
  <strong>Uer:</strong>
  <%= @m_webhook.uer %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @m_webhook.reason %>
</p>

<p>
  <strong>Ts:</strong>
  <%= @m_webhook.ts %>
</p>

<p>
  <strong>Origin:</strong>
  <%= @m_webhook.origin_id %>
</p>

<p>
  <strong>List:</strong>
  <%= @m_webhook.list_id %>
</p>

<%= link_to 'Edit', edit_m_webhook_path(@m_webhook) %> |
<%= link_to 'Back', m_webhooks_path %>
