
<p id="notice"><%= notice %></p>

<h1>Marketing IP Health</h1>

<% event_button_array = [["Unique Open", "unique_opened"], ["Opened", "opened"],
  ["Unique Click", "unique_click"], ["Clicked", "clicked"], ["Deliv", "delivered"]] %>


  <%= form_tag( '/m_webhooks', :method => :get ) do %>
    <table>
      <tr>
        <td><label>Start Date</label></td>
        <td><input type="date" id="start_date" name="start_date"
                 value="<%= Date.today - 10.days %>"
                 min="2017-01-01" max="<%= Date.yesterday %>" /></td>
        <td><label>End Date</label></td>
        <td><input type="date" id="end_date" name="end_date"
                 value="<%= Date.today %>"
                 min="2017-01-01" max="<%= Date.today %>" /></td>
      </tr>
      <tr>
        <% event_button_array.each do |z| %>
          <td><button type="submit" name="event" value="<%= z[1] %>"><%= z[0] %></button></td>
        <% end %>
      </tr>
    </table>
  <% end %>
  
<h2>
  Key &emsp;
  <span class="green_3">&emsp;</span>
  <span class="green_2">&emsp;</span>
  <span class="green_1">&emsp;</span>
  <span class="yellow">&emsp;</span>
  <span class="neutral">&emsp;</span>
  <span class="orange">&emsp;</span>
  <span class="red_1">&emsp;</span>
  <span class="red_2">&emsp;</span>
</h2>


</br>



<% @m_list_of_ips.each do |this_ip| %>
  <table class="minimalistBlack">
    <thead>
      <tr><th colspan="5"><%= this_ip %></th></tr>
      <tr>
        <th>Date</th>
        <% @esp_list.each do |esp| %>
          <th><%= esp.capitalize %></th>
        <% end %>
      </tr>
    </thead>
    <% @date_list.each do |this_date| %>
      <tr>
        <td><%= this_date %></td>
        <% @esp_list.each_with_index do |esp, esp_index| %>
          <% num_sent = @count_array[esp_index][1][[this_date, this_ip]] %>
          <% if num_sent && num_sent > 0 %>
            <% num_focused = @count_array[esp_index][0][[this_date, this_ip]] %>
            <% perc = ((1000 * num_focused.to_f) / num_sent).ceil / 10.0 %>
            <td class="<%= set_cell_color(perc) %>"><%= num_focused %> / <%= num_sent %> = <%= perc %></td>
          <% else %>
            <td></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
  </br>
<% end %>



